In [ ]:
#q1
for i in range(1, 11):
    if i == 5:
        break
    print(i)

In [ ]:
#q2
my_list = [10, 20, 30, 40, 50, 60]
stop_element = 40

for item in my_list:
    if item == stop_element:
        break
    print(item)

In [ ]:
#q3
for i in range(1, 11):
    if i % 2 == 0:
        continue
    print(i)

In [ ]:
#q4
for i in range(10):
    print(i)

In [ ]:
#q5
for i in range(1, 6):
    for j in range(1, 11):
        print(f"{i} x {j} = {i * j}")
        break  # Stops after printing the first row for each number
    print()  # Adds space between tables

In [ ]:
#q6
num = 1

while num <= 10:
    if num % 2 == 0:
        num += 1
        continue
    print(num)
    num += 1